html {
    margin: 0;
  }


  /* 31, 29, 29 */
body {

background-color: rgb(31, 29, 29);
margin: 0;

}


nav {

width: 100%;
overflow: auto;
background-color:rgb(113, 33, 119);
}


ul {
    
  margin: 0 0 0 40px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(113, 33, 119);
   

  }

li {
    float: left;
  }
  
  li a {
   margin-left:20px;
    display: block;
    color: white;
    text-align: center;
    padding:15px;
    text-decoration: none;
    border-radius: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

.logo {

  position: absolute;
 
  margin-right:15px;
  width: 50px;
  height: auto;


}


 
  li a:hover {
    background-color:rgb(75, 22, 78);
    border-color:white;
  }

  .TEXT{
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 250px;
    top: 400px
  }
  .TEXT2{
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 550px;
    top: 400px
  }
  .TEXT3{
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 900px;
    top: 400px
  }
  .TEXT4{
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 1200px;
    top: 400px
  }
  .text{
      color: white;
      font-family: Verdana;
      top: 400px;
      left: 500px;
      bottom: 300px;
    }
    .david{
        position: relative;
        top: 10px;
        left: 250px;
        width: 200px;
        height: 200px;
        
        
    }
    .kyle{
        position: absolute;
        top: 60px;
        left: 500px;
        width: 200px;
        height: 200px;
        bottom: 800px;

        
    }
    .adam{
        position: absolute;
        top: 60px;
        left: 1000px;
        width: 200px;
        height: 200px;
        bottom: 800px;

    }
    .michael{
        position: absolute;
        top: 60px;
        left: 750px;
        width: 200px;
        height: 200px;
        bottom: 800px;

    }
    .george{
        position: absolute;
        top: 60px;
        left: 1250px;
        width: 200px;
        height: 200px;
        bottom: 800px;

    }